{% extends 'base.html.twig' %}

{% block body %}
    Parent Dashboard
    {% if guardian is not null %}
    Firstname: {{ guardian.firstname }}<br>
    Lastname: {{ guardian.lastname }}<br>
    Email: {{ guardian.email }}<br>

    Student:
            Info<br>
            School: {{ student.school }}<br>
            Classroom: {{ student.classroom }}<br>
            Firstname: {{ student.firstname }}<br>
            Lastname: {{ student.lastname }}<br>
            Email: {{ student.email }}<br>

            Timeline:
            {% for timeline in student.classroom.timelines %}
                School year: {{ timeline.schoolYear }}<br>
                Classroom: {{ timeline.classroom }}<br>
                Active: {{ timeline.active }}<br>
                <a href="{{ path('app_parent_timeline',{'id':student.id,'timeline':timeline.id}) }}">Časová osa</a>
                {% for questionnaire in timeline.questionnaires %}
                    Name: {{ questionnaire.name }}<br>
                    Position: {{ questionnaire.position }}<br>
                    Finished: {{ questionnaire.finished }}<br>
                {% endfor %}
            {% endfor %}
    {% endif %}
{% endblock %}
