{% extends 'base.html.twig' %}

{% block body %}
    School employee Dashboard
    {% if school_employee is not null %}
    Firstname: {{ school_employee.firstname }}<br>
    Lastname: {{ school_employee.lastname }}<br>
    Role: {{ school_employee.schoolEmployeeRole }}<br>

    {% if school_employee.schoolEmployeeRole == constant('App\\Enum\\SchoolEmployeeRole::DIRECTOR') %}
        {# TODO DIRECTOR related #}
    {% endif %}
    {% if school_employee.schoolEmployeeRole == constant('App\\Enum\\SchoolEmployeeRole::ADMINISTRATOR') %}
        {# TODO ADMINISTRATOR related #}
    {% endif %}
    {% if school_employee.schoolEmployeeRole == constant('App\\Enum\\SchoolEmployeeRole::PSYCHOLOGIST') %}
        {# TODO PSYCHOLOGIST related #}
    {% endif %}
    {% if school_employee.schoolEmployeeRole == constant('App\\Enum\\SchoolEmployeeRole::TEACHER') %}
        {# TODO TEACHER related #}
    {% endif %}

    School<br>
    Name: {{ school_employee.school.name }}
    Classrooms: <br>
        {% for classroom in school_employee.school.classrooms %}
            Name: {{ classroom.name }}<br>
            <a href="{{ path('app_school_employee_classroom',{'id':classroom.id}) }}">Třída</a>
            Timelines:<br>
            {% for timeline in classroom.timelines %}
                School year: {{ timeline.schoolYear }}<br>
                Classroom: {{ timeline.classroom }}<br>
                Active: {{ timeline.active }}<br>
                <a href="{{ path('app_school_employee_timeline_create_questionnaire',{'id':classroom.id,'timeline':timeline.id}) }}">Vytvořit nové šetření</a>
                Questionnaires:<br>
                {% for questionnaire in timeline.questionnaires %}
                    Name: {{ questionnaire.name }}<br>
                    Position: {{ questionnaire.position }}<br>
                    Finished: {{ questionnaire.finished }}<br>
                {% endfor %}
            {% endfor %}
            Students:
            {% for student in classroom.students %}
                Info<br>
                School: {{ student.school }}<br>
                Classroom: {{ student.classroom }}<br>
                Firstname: {{ student.firstname }}<br>
                Lastname: {{ student.lastname }}<br>
                Email: {{ student.email }}<br>
            {% endfor %}
        {% endfor %}

    {% endif %}
{% endblock %}
